html {
    background:url(https://cdn2.f-cdn.com/contestentries/35704/8218109/5229fffc28752_thumb900.jpg);
}

h3 {
    margin: 0px;
    padding: 0px;
}

textarea {
    resize: none;
}

input,
textarea {
    background: none;
    color: white;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: auto;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #007aa1;
}
input:focus,
textarea:focus {
    outline: none;
}
input:valid ~ label,textarea:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}
input:focus ~ .bar:before {
    width: 320px;
}

input[type="password"] {
    letter-spacing: 0.3em;
}

label {
    color: $muted-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: $trans-time ease all;
}

body {
    max-width: 860px;
    min-width: 360px;
    margin: 0px auto;
    background: rgba(0,122,161,0.7);
    padding: 0px 5px;
    text-align: center;
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: .3s;
}
button:hover {
    background: #59b4e5;
    box-shadow: 0px 15px 20px rgba(13, 35, 70, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

a {
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    background-color: #008CBA;
    color: white;
}

.page-title {
    font-size: 120%;
    text-align: left;
    margin: 10px 0px;
}

.header-container {
    text-align: left;
    border-bottom: 1px solid #ccc;
    position: relative;
    background: rgba(0,122,161,0.8);;
    color: white;
}

.header-container .header-bar {
    position: absolute;
    right: 10px;
    top: 10px;
}

.header-container .header-bar a {
    color: white;
}


.footer-container {
    text-align: center;
    margin-top: 10px;
    padding: 5px 0px 0px 0px;
    border-top: 1px solid #ccc;
}

.menu-container {
    text-align: right;
    margin: 10px 5px;
}

.menu-container a {
    margin: 5px 5px 5px 10px;
    color: #004d99;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.site-name {
    font-size: 200%;
    margin: 10px 10px 10px 0px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.container {
    margin: 5px 0px;
}

.demo-container, .login-container, .account-container {
    padding: 5px;
    border: 1px solid #ccc;
    text-align: left;
    margin: 20px 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}

.customer-info-container {
    text-align: left;
    border: 1px solid #ccc;
    padding: 0px 5px;
}

.product-preview-container {
    border: 1px solid #ccc;
    padding: 5px;
    width: 500px;
    margin: 10px;
    display: inline-block;
    text-align: left;
}

.product-preview-container input {
    width: 50px;
}

.product-image {
    width: 120px;
    height: 80px;
}

ul {
    list-style-type: none;
    padding-left: 5px;
    margin: 5px;
}

.navi-item {
    margin: 5px 5px 5px 20px;
}

.error-message {
    font-size: 90%;
    color: darkblue;
    font-style: italic;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

th {
    text-align: center;
    background-color: #275e79;
}

tbody tr:hover{
    background-color: rgba(255,255,255,0.3);
}
tbody td {
    position: relative;
}
tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}
