<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>History</h2>

<table border="1">
    <tr>
        <th>ID User</th>
        <th>ID Offer</th>
        <th>Date Start</th>
        <th>Date Finish</th>
        <th>Status</th>
    </tr>
    <tr th:each="historyInfo : ${historyInfos}">
        <td th:utext="${historyInfo.idUser}">..</td>
        <td th:utext="${historyInfo.idOffer}">..</td>
        <td th:utext="${historyInfo.dateStart}">..</td>
        <td th:utext="${historyInfo.dateFinish}">..</td>
        <td th:utext="${historyInfo.status}">..</td>
    </tr>

</table>
</body>
</html>