<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Offers</h2>

<table border="1">
    <tr>
        <th>ID Offer</th>
        <th>City</th>
        <th>Adress</th>
        <th>Max People</th>
        <th>Price</th>
        <th>Parking</th>
        <th>Wi-Fi</th>
        <th>Animals</th>
        <th>Smoking</th>
    </tr>
    <tr th:each="offersInfo : ${offersInfos}">
        <td th:utext="${offersInfo.idOffer}">..</td>
        <td th:utext="${offersInfo.city}">..</td>
        <td th:utext="${offersInfo.address}">..</td>
        <td th:utext="${offersInfo.maxPeopleCount}">..</td>
        <td th:utext="${offersInfo.price}">..</td>
        <td th:utext="${offersInfo.parking}">..</td>
        <td th:utext="${offersInfo.wifi}">..</td>
        <td th:utext="${offersInfo.animal}">..</td>
        <td th:utext="${offersInfo.smoking}">..</td>

    </tr>

</table>
</body>
</html>