<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>


<h2>UserOffers</h2>
<div>Total Offers Count: <span th:utext="${paginationResult.totalRecords}"></span></div>
<table border="1" , style="width: 100%">
    <tr>
        <th>ID Offer</th>
        <th>City</th>
        <th>Address</th>
        <th>Max People Count</th>
        <th>Price</th>
        <th>Parking</th>
        <th>Wi-Fi</th>
        <th>Animal</th>
        <th>Smoking</th>
    </tr>
    <tr th:each="userOffers : ${paginationResult.list}">
        <td th:utext="${userOffers.idOffer}">..</td>
        <td th:utext="${userOffers.city}">..</td>
        <td th:utext="${userOffers.address}">..</td>
        <td th:utext="${userOffers.maxPeopleCount}">..</td>
        <td th:utext="${userOffers.price}">..</td>
        <td th:utext="${userOffers.parking}">..</td>
        <td th:utext="${userOffers.wifi}">..</td>
        <td th:utext="${userOffers.animal}">..</td>
        <td th:utext="${userOffers.smoking}">..</td>
        <td><a th:href="@{|/newOffer?id=${userOffers.idOffer}|}"> edit </a></td>
    </tr>

</table>
<div class="page-navigator" th:if="${paginationResult.totalPages > 1}">
    <th:block th:each="page: ${paginationResult.navigationPages}">
        <a th:if="${page != -1}" class="nav-item"
           th:href="@{|/userOffers?page=${page}|}" th:utext="${page}"></a>

        <span th:if="${page == -1}" class="nav-item"> ... </span>
    </th:block>
</div>
</body>
</html>