<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Автосервис</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Changes</h2>

<div>Сменить дату окончания заказа</div>
<table border="1" , style="width: 100%">
    <tr>
        <th>Заказчик</th>
        <th>Услуга</th>
        <th>Цена</th>
        <th>Статус</th>
        <th>Мастер</th>
        <th>Новая дата окончания</th>
    </tr>
    <tr>
        <td th:utext="${orderInfo.customerName}">..</td>
        <td th:utext="${orderInfo.nameOffer}">..</td>
        <td th:utext="${orderInfo.price}">..</td>
        <th:block th:switch="${orderInfo.status}">
            <td th:case="'DONE'">Готово</td>
            <td th:case="'IN PROGRESS'">Выполняется</td>
            <td th:case="'WAITING FOR MASTER'">Ожидание свободного мастера</td>
            <td th:case="'KIT WAS DELIVERED'">Запчасти доставлены в сервис</td>
            <td th:case="'KIT ON ITS WAY'">Запчасти в пути</td>
            <td th:case="'KIT WAS ORDERED'">Заказаны запчасти</td>
            <td th:case="'WAITING FOR KIT'">Ожидает заказа запчастей</td>
            <td th:case="'CREATED'">Создана</td>
        </th:block>
        <td th:utext="${orderInfo.masterName}">..</td>
        <td th:utext="${orderInfo.dateFinish}">..</td>
    </tr>
</table>

<form th:object="${utilForm}" th:action="@{/acceptChangeTime}"
      method="POST" enctype="multipart/form-data">

    <table style="text-align:left;">
        <td>
            <input type="hidden" th:field="${orderInfo.id}"/>
            <input type="hidden" th:field="${orderInfo.customer}"/>
            <input type="hidden" th:field="${orderInfo.dateFinish}"/>
        </td>
        <tr>
            <td><p><input name="status" type="radio" value="Agree" th:field="${utilForm.textField}"/>Accept</p></td>
            <td><p><input name="status" type="radio" value="Reject" th:field="${utilForm.textField}"/>Reject</p></td>
        </tr>
        <tr>
            <td>
                <button type="submit">Перейти к смене</button>
                <button type="reset">Очистить</button>
            </td>
        </tr>
    </table>
</form>