<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Автосервис</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Заказы</h2>
<div>Список заказов: <span th:utext="${paginationResult.totalRecords}"></span></div>
<table border="1" , style="width: 100%">
    <tr>
        <th>Услуга</th>
        <th>Мастер</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Статус</th>
    </tr>
    <tr th:each="ordersInfo : ${paginationResult.list}">
        <td th:utext="${ordersInfo.nameOffer}">..</td>
        <td th:utext="${ordersInfo.masterName}">..</td>
        <td th:utext="${ordersInfo.dateStart}">..</td>
        <td th:utext="${ordersInfo.dateFinish}">..</td>
        <th:block th:switch="${ordersInfo.status}">
            <td th:case="'DONE'">Готово</td>
            <td th:case="'IN PROGRESS'">Выполняется</td>
            <td th:case="'WAITING FOR MASTER'">Ожидание свободного мастера</td>
            <td th:case="'KIT WAS DELIVERED'">Запчасти доставлены в сервис</td>
            <td th:case="'KIT ON ITS WAY'">Запчасти в пути</td>
            <td th:case="'KIT WAS ORDERED'">Заказаны запчасти</td>
            <td th:case="'WAITING FOR KIT'">Ожидает заказа запчастей</td>
            <td th:case="'CREATED'">Создана</td>
        </th:block>
    </tr>

</table>
<div class="page-navigator" th:if="${paginationResult.totalPages > 1}">
    <th:block th:each="page: ${paginationResult.navigationPages}">
        <a th:if="${page != -1}" class="nav-item"
           th:href="@{/buyerOrders(page=${page})}" th:utext="${page}"></a>

        <span th:if="${page == -1}" class="nav-item"> ... </span>
    </th:block>
</div>
</body>
</html>