<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Автосервис</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<form th:object="${utilForm}" th:action="@{/cancelOrder}"
      method="POST" enctype="multipart/form-data">

    <table style="text-align:left;">
        <td>
            <span text="">Чтобы отменить заказ введите 'ПОДТВЕРЖДАЮ'</span>
            <input th:field="${utilForm.textField}"/>
        </td>
        <td>

            <input type="hidden" th:field="${utilForm.intField}"/>

        </td>

        <tr>
            <td>&nbsp;</td>
            <td>
                <button type="submit">Отправить</button>
                <a href="/admin/userInfo">
                    <button type="button">Отменить</button>
                </a>
            </td>
        </tr>
    </table>
</form>

</body>
</html>