<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Changes Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Changes</h2>

<div>Change Time for order</div>
<table border="1" , style="width: 100%">
    <tr>
        <th>Customer</th>
        <th>Offer</th>
        <th>Price</th>
        <th>Status</th>
        <th>Master</th>
        <th>Is Kit needed?</th>
    </tr>
    <tr>
        <td th:utext="${orderInfo.customerName}">..</td>
        <td th:utext="${orderInfo.nameOffer}">..</td>
        <td th:utext="${orderInfo.price}">..</td>
        <td th:utext="${orderInfo.status}">..</td>
        <td th:utext="${orderInfo.masterName}">..</td>
        <td th:utext="${orderInfo.needKit==1} ? 'yes' : 'no'">..</td>
    </tr>
</table>

<form th:object="${signUpForm}" th:action="@{/changeOrderStatus}"
      method="POST" enctype="multipart/form-data">

    <table style="text-align:left;">
        <td>
            <input type="hidden" th:field="${orderInfo.id}"/>
        </td>
        <tr>
            <td th:if="${orderInfo.status=='CREATED' and orderInfo.needKit==1}"><p><input name="status" type="radio" value="WAITING FOR KIT" th:field="${signUpForm.status}"/>WAITING FOR KIT</p></td>
            <td th:if="${orderInfo.status=='WAITING FOR KIT'}"><p><input name="status" type="radio" value="KIT WAS ORDERED" th:field="${signUpForm.status}"/>KIT WAS ORDERED</p></td>
            <td th:if="${orderInfo.status=='KIT WAS ORDERED'}"><p><input name="status" type="radio" value="KIT ON ITS WAY" th:field="${signUpForm.status}"/>KIT ON ITS WAY</p></td>
            <td th:if="${orderInfo.status=='KIT ON ITS WAY'}"><p><input name="status" type="radio" value="KIT WAS DELIVERED" th:field="${signUpForm.status}"/>KIT WAS DELIVERED</p></td>
            <td th:if="${orderInfo.status=='KIT WAS DELIVERED' or (orderInfo.status=='CREATED' and orderInfo.needKit==0)}"><p><input name="status" type="radio" value="WAITING FOR MASTER" th:field="${signUpForm.status}"/>WAITING FOR MASTER</p></td>
            <td th:if="${orderInfo.status=='WAITING FOR MASTER'}"><p><input name="status" type="radio" value="IN PROGRESS" th:field="${signUpForm.status}"/>IN PROGRESS</p></td>
            <td th:if="${orderInfo.status=='IN PROGRESS'}"><p><input name="status" type="radio" value="DONE" th:field="${signUpForm.status}"/>DONE</p></td>
        </tr>

        <tr>

            <td>
                <button type="submit">"Accept</button>
                <button type="reset">Reset</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>