<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Автосервис</title>
    <script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function  showHide(checked, orderid) {
            orderid=orderid.replace("offer","needKit");
            if(checked == true){
                $('#'+orderid).fadeIn();
            }else{
                $('#'+orderid).fadeOut();
            }
        }
    </script>
    <style>
        th, td {
            padding: 5px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Услуги</h2>

<div>Количество услуг: <span th:utext="${paginationResult.totalRecords}"></span></div>
<form th:object="${searchOffer}" th:action="@{/submitResult}"
      method="POST" enctype="multipart/form-data">
    <table border="1" , style="width: 100%">
        <tr>
            <th>Наименование</th>
            <th>Проффесия</th>
            <th>Цена</th>
            <th>Запчасти</th>
            <th>Выбрать услугу</th>
            <th>Нужны запчасти?</th>
        </tr>
        <tr th:each="offersInfo : ${paginationResult.list}">
            <td th:utext="${offersInfo.name}">..</td>
            <td th:utext="${offersInfo.prof}">..</td>
            <td th:utext="${offersInfo.price}">..</td>
            <td th:utext="${offersInfo.kitName}">..</td>

            <td>
                <input type="checkbox" th:onchange="showHide(this.checked, this.id)" th:field="*{offer}" th:value="|${offersInfo.idOffer}|" />
                <label
                        th:for="${#ids.prev('offer')}">
                </label>
            </td>
            <td th:if="${offersInfo.kitId == 0}">
                <div  style="display: none; align-content: center" ><input type="checkbox"  style="display: none;align-content: center" th:field="*{needKit}" th:value="|${offersInfo.idOffer}|" />
                    <label
                            th:for="${#ids.prev('needKit')}">
                    </label>
                </div>
            </td>
            <td th:if="${offersInfo.kitId != 0}">
                <input type="checkbox"  style="display: none; align-content: center" th:field="*{needKit}" th:value="|${offersInfo.idOffer}|" />
                <label
                        th:for="${#ids.prev('needKit')}">
                </label>
            </td>
            <!--<td><a th:href="@{|/signUp?id=${offersInfo.idOffer}|}">Reserve</a></td>-->
        </tr>
        <tr th:each="offersInfo : ${paginationResult.list}">
            <a th:if="${searchOffer.offer == '1'}">kek</a>
        </tr>
    </table>
    <Br>Пожалуйста, выберите дату начала услуги<Br>
    <input type="date" th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" style= "text-align: center;color: white;margin: auto;" th:field="${signUpForm.dateStart}"/>
    <button type="submit">Подтвердить</button>
    <button type="reset">Очистить</button>
</form>
<div class="page-navigator" th:if="${paginationResult.totalPages > 1}">
    <th:block th:each="page: ${paginationResult.navigationPages}">
        <a th:if="${page != -1}" class="nav-item" th:href="@{/submitResult(page=${page})}" th:utext="${page}">
        </a>
        <span th:if="${page == -1}" class="nav-item"> ... </span>
    </th:block>
</div>
</body>
</html>