<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Offer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Offer</div>
<div th:if="${message!= null}" class="error-message" th:utext="${message}">
</div>

<form th:object="${offerForm}" th:action="@{/newOffer}"
      method="POST" enctype="multipart/form-data">
    <table style="text-align:left;">

        <tr>
            <td> idOffer</td>
            <td style="color:red;">
                <input th:field="*{newOffer}" type="hidden"/>
                <input type="hidden" th:field="${offerForm.idSeller}"/>

                <th:block th:if="${!offerForm.isNewOffer()}">
                    <span th:utext="${offerForm.idOffer}"></span>
                    <input type="hidden" th:field="${offerForm.idOffer}"/>

                </th:block>
            </td>
        </tr>
        <tr>
            <td>City *</td>
            <td><input th:field="*{city}"/></td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">..</span>
            </td>
        </tr>
        <tr>
            <td>Address *</td>
            <td><input th:field="*{address}"/></td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
            </td>
        </tr>
        <tr>
            <td>Max People *</td>
            <td><input th:field="*{maxPeopleCount}"/></td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('maxPeopleCount')}"
                      th:errors="*{maxPeopleCount}">..</span>
            </td>
        </tr>
        <tr>
            <td>Price *</td>
            <td><input th:field="*{price}"/></td>
            <td>
                <span class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">..</span>
            </td>
        </tr>
        <tr>
            <td>Parking *</td>
            <td><input type="checkbox" th:field="*{parking}" checked/></td>
        </tr>
        <tr>
            <td>WiFi *</td>
            <td><input type="checkbox" th:field="*{wifi}" checked/></td>
        </tr>
        <tr>
            <td>Animals *</td>
            <td><input type="checkbox" th:field="*{animal}" checked/></td>
        </tr>
        <tr>
            <td>Smoking *</td>
            <td><input type="checkbox" th:field="*{smoking}" checked/></td>
        </tr>


        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Submit"/>
                <input type="reset" value="Reset"/>
            </td>
        </tr>
    </table>
</form>


</body>
</html>