<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Offers</h2>

<div>Total Offers Count: <span th:utext="${paginationResult.totalRecords}"></span></div>
<form th:object="${searchOffer}" th:action="@{/signUp}"
      method="POST" enctype="multipart/form-data">
<table border="1" , style="width: 100%">
    <tr>
        <th>Name</th>
        <th>Profession</th>
        <th>Price</th>
        <th>Kit</th>
        <th>Is Kit Needed?</th>
        <th>Pick up order?</th>
    </tr>
    <tr th:each="offersInfo : ${paginationResult.list}">
        <td th:utext="${offersInfo.name}">..</td>
        <td th:utext="${offersInfo.prof}">..</td>
        <td th:utext="${offersInfo.price}">..</td>
        <td th:utext="${offersInfo.kitName}">..</td>

        <td>
            <input type="checkbox" th:field="*{needKit}" th:value="|${offersInfo.idOffer}|" />
            <label
                    th:for="${#ids.prev('needKit')}">
            </label>
        </td>
        <td>
            <input type="checkbox" th:field="*{offer}" th:value="|${offersInfo.idOffer}|" />
            <label
                    th:for="${#ids.prev('offer')}">
            </label>
        </td>
        <!--<td><a th:href="@{|/signUp?id=${offersInfo.idOffer}|}">Reserve</a></td>-->
    </tr>
    <tr th:each="offersInfo : ${paginationResult.list}">
        <a th:if="${searchOffer.offer == '1'}">kek</a>
    </tr>
</table>
    <Br>Please, enter Date Start<Br>
    <input type="date" style= "text-align: center;color: white;margin: auto;" th:field="${signUpForm.dateStart}"/>
    <button type="submit">Accept</button>
    <button type="reset">Reset</button>
</form>
<div class="page-navigator" th:if="${paginationResult.totalPages > 1}">
    <th:block th:each="page: ${paginationResult.navigationPages}">
        <a th:if="${page != -1}" class="nav-item" th:href="@{/offersPage(page=${page})}" th:utext="${page}">
        </a>
        <span th:if="${page == -1}" class="nav-item"> ... </span>
    </th:block>
</div>
</body>
</html>