<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Offers</h2>

<div>Total Offers Count: <span th:utext="${paginationResult.totalRecords}"></span></div>
<table border="1" , style="width: 100%">
    <tr>
        <th>ID Offer</th>
        <th>Name</th>
        <th>Profession</th>
        <th>Price</th>
        <th>Kit</th>

    </tr>
    <tr th:each="offersInfo : ${paginationResult.list}">
        <td th:utext="${offersInfo.idOffer}">..</td>
        <td th:utext="${offersInfo.name}">..</td>
        <td th:utext="${offersInfo.prof}">..</td>
        <td th:utext="${offersInfo.price}">..</td>
        <td th:utext="${offersInfo.kitName}">..</td>

        <td><a th:href="@{|/signUp?id=${offersInfo.idOffer}|}">Reserve</a></td>
    </tr>

</table>
<div class="page-navigator" th:if="${paginationResult.totalPages > 1}">
    <th:block th:each="page: ${paginationResult.navigationPages}">
        <a th:if="${page != -1}" class="nav-item" th:href="@{/offersPage(page=${page})}" th:utext="${page}">
        </a>

        <span th:if="${page == -1}" class="nav-item"> ... </span>
    </th:block>
</div>
</body>
</html>