<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Автосервис</title>
    <style>
        th, td {
            padding: 5px;
        }

        td span {
            font-size: 90%;
            font-style: italic;
            color: red;
        }

        .error {
            color: red;
            font-style: italic;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Регистрация</h2>

<div th:if="${errorMessage != null}" th:utext="${errorMessage}"
     class="error">...
</div>

<form th:action="@{/register}" th:object="${usersForm}" method="POST">
    <table>
        <tr>
            <td>Имя пользователя</td>
            <td><input type="text" th:field="*{login}"/></td>
            <td><span th:if="${#fields.hasErrors('login')}" th:errors="*{login}">..</span></td>
        </tr>
        <tr>
            <td>Пароль</td>
            <td><input type="password" th:field="*{password}"/></td>
            <td><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span></td>
        </tr>
        <tr>
            <td>Подтвердите пароль</td>
            <td><input type="password" th:field="*{confirmPassword}"/></td>
            <td><span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">..</span></td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td><input type="email" th:field="*{email}"/></td>
            <td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><button type="submit">Сохранить</button>
                <a th:href="@{/}">Отменить</a></td>
            <td>&nbsp;</td>
        </tr>
    </table>
</form>

</body>
</html>