<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Offers</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Offers</h2>

<h2 th:if="${!Reserved}"><a th:href="@{/newOffer}"> Create new offer </a></h2>

<div>Total Offers Count: <span th:utext="${paginationResult.totalRecords}"></span></div>
<table border="1" , style="width: 100%">
    <tr>
        <th>ID Order</th>
        <th>ID Offer</th>
        <th th:if="${Reserved}">ID Buyer</th>
        <th th:if="${Reserved}">Login Buyer</th>
        <th th:if="${!Reserved}">City</th>
        <th>Address</th>
        <th th:if="${Reserved}">Date Start</th>
        <th th:if="${Reserved}">Date Finish</th>
        <th th:if="${!Reserved}">Max People Count</th>
        <th th:if="${!Reserved}">Price</th>
        <th th:if="${!Reserved}">Parking</th>
        <th th:if="${!Reserved}">Wi-Fi</th>
        <th th:if="${!Reserved}">Animal</th>
        <th th:if="${!Reserved}">Smoking</th>
        <th>Status</th>
    </tr>
    <tr th:each="ordersInfo : ${paginationResult.list}">
        <td th:utext="${ordersInfo.idOrder}">..</td>
        <td th:utext="${ordersInfo.idOffer}">..</td>
        <td th:if="${Reserved}" th:utext="${ordersInfo.idUser}">..</td>
        <td th:if="${Reserved}" th:utext="${ordersInfo.loginSeller}">..</td>
        <td th:if="${!Reserved}" th:utext="${ordersInfo.city}">..</td>
        <td th:utext="${ordersInfo.address}">..</td>
        <td th:if="${Reserved}" th:utext="${ordersInfo.dateStart}">..</td>
        <td th:if="${Reserved}" th:utext="${ordersInfo.dateFinish}">..</td>
        <td th:if="${!Reserved}" th:utext="${ordersInfo.maxPeopleCount}">..</td>
        <td th:if="${!Reserved}" th:utext="${ordersInfo.price}">..</td>
        <td th:if="${!Reserved}" th:utext="${ordersInfo.parking}">..</td>
        <td th:if="${!Reserved}" th:utext="${ordersInfo.wifi}">..</td>
        <td th:if="${!Reserved}" th:utext="${ordersInfo.animal}">..</td>
        <td th:if="${!Reserved}" th:utext="${ordersInfo.smoking}">..</td>
        <td th:utext="${ordersInfo.status}">..</td>
        <td th:if="${!Reserved and !Performed}"><a th:href="@{|/newOffer?id=${ordersInfo.idOffer}|}"> edit </a></td>
        <td th:if="${!Performed}"><a th:href="@{|/cancelOrder?id=${ordersInfo.idOrder}|}"> cancel </a></td>
    </tr>

</table>
<div class="page-navigator" th:if="${paginationResult.totalPages > 1}">
    <th:block th:each="page: ${paginationResult.navigationPages}">
        <a th:if="${page != -1}" class="nav-item"
           th:href="@{/sellerOrders(page=${page},type=${type})}" th:utext="${page}"></a>

        <span th:if="${page == -1}" class="nav-item"> ... </span>
    </th:block>
</div>
</body>
</html>