<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Reservation</h2>

<div>Сhosen Offer</div>
<table border="1" , style="width: 100%">
    <tr>
        <th>ID Offer</th>
        <th>Name</th>
        <th>Profession</th>
        <th>Price</th>
        <th>Time</th>
    </tr>
    <tr>
        <td th:utext="${offersInfo.idOffer}">..</td>
        <td th:utext="${offersInfo.name}">..</td>
        <td th:utext="${offersInfo.prof}">..</td>
        <td th:utext="${offersInfo.price}">..</td>
        <td th:utext="${offersInfo.time}">..</td>
    </tr>
</table>

<form th:object="${signUpForm}" th:action="@{/signUp}"
      method="POST" enctype="multipart/form-data">

    <table style="text-align:left;">
        <td>
            <input type="hidden" th:field="${signUpForm.idOffer}"/>
        </td>
        <tr>
            <td>Date start</td>
            </td>
        </tr>
        <tr>
            <td><input type="date" th:field="${signUpForm.dateStart}"/></td>
            </td>

        </tr>
        <tr>
            <td><p><input type="checkbox" th:field="${signUpForm.needKit}"/>Is Kit needed?</p></td>
        </tr>

        <tr>

            <td>
                <input type="submit" value="Accept"/>
                <input type="reset" value="Reset"/>
            <td><span class="error-message" th:if="${#fields.hasErrors('dateStart')}" th:errors="*{dateStart}">..</span>
            </td>
        </tr>
    </table>
</form>

<div th:align="left" th:if="${error}">Reserved dates:</div>

<table th:if="${error}">
    <tr>
        <td>Date start</td>
    </tr>
    <tr th:each="calendarDate : ${calendar}">
        <td th:utext="${#dates.format(calendarDate.dateStart, 'dd-MM-yyyy')}">..</td>
    </tr>
</table>


<form th:object="${offersInfo}" th:action="@{/reserve}"
      method="POST" enctype="multipart/form-data">
    <input type="hidden" th:field="${offersInfo.idOffer}">..</td>
    <input type="hidden" th:field="${offersInfo.name}">..</td>
    <input type="hidden" th:field="${offersInfo.prof}">..</td>
    <input type="hidden" th:field="${offersInfo.price}">..</td>
    <input type="hidden" th:field="${offersInfo.time}">..</td>
</form>

</body>
</html>