<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Автосервис</title>

    <style>
        th, td {
            padding: 5px;
        }
    </style>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<h2>Список пользователей</h2>
<div>Количество пользователей: <span th:utext="${paginationResult.totalRecords}"></span></div>
<table border="1" , style="width: 100%">
    <tr>
        <th>ID пользователя</th>
        <th>Имя пользователя</th>
        <th>Статус</th>
    </tr>
    <tr th:each="usersInfo : ${paginationResult.list}">
        <td th:utext="${usersInfo.idUser}">..</td>
        <td th:utext="${usersInfo.login}">..</td>
        <td th:utext="${usersInfo.role}">..</td>
        <td><a th:href="@{|/admin/viewUserOrdersForAdmin?id=${usersInfo.idUser}|}"> посмотреть заказы </a></td>
    </tr>

</table>
<div class="page-navigator" th:if="${paginationResult.totalPages > 1}">
    <th:block th:each="page: ${paginationResult.navigationPages}">
        <a th:if="${page != -1}" class="nav-item"
           th:href="@{|/admin/usersList?page=${page}|}" th:utext="${page}"></a>

        <span th:if="${page == -1}" class="nav-item"> ... </span>
    </th:block>
</div>
</body>
</html>