<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Автосервис</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<th:block th:include="/_header"></th:block>
<th:block th:include="/_menu"></th:block>

<div class="page-title">Информация о пользователе</div>
<div class="account-container">
    <ul>
        <li>Имя пользователя: <span th:utext="${#request.userPrincipal.name}"></span></li>
        <li>
            Роль пользователя:
            <ul>
                <li th:each="auth : ${userDetails.authorities}" th:utext="${auth.authority}"></li>
            </ul>
        </li>
    </ul>
</div>
<table>
    <tr>
        <th>
            <a th:href="@{|/removeUser?id=${userInfo.idUser}|}">Удалить пользователя</a>
        </th>
        <th>
            | &nbsp;
        </th>
        <th th:if="${userInfo.isAdmin()}">
            <a th:href="@{/admin/usersList}">Модерация пользователей</a>
        </th>
    </tr>

</table>

</body>
</html>